*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

#nav{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px; 
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}
#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height:100% ;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}
#main{
    position: relative;
    background-color:rgba(0, 0, 0, 0.10);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}


#page1 p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    width: 570px;
}

#name p{
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    margin-top: 20px;
    width: 500px;
}
